# R Example

Note - Connecting directly to sensorfabric and running SQL queries is currently not supported in R. However you can refer to the `example.ipynb` to see how you can use Python to run SQL queries and then save the results as csv files to be accessed an analyzed in R here.

We will soon be adding this feature by Fall 2023.

In [1]:
my_data <- read.csv('restinghr_summary.csv')

In [2]:
my_data

   X  participantidentifier avg_hr   min_hr max_hr
1   0 p0                    83.82558 76     90
2   1 p1                    83.03448 80     86
3   2 p2                    74.89845 67     83
4   3 p3                    74.28378 68     82
5   4 p4                    70.88571 65     76
6   5 p5                    69.02778 60     76
7   6 p6                    68.72414 62     75
8   7 p7                    67.50000 67     68
9   8 p8                    64.13636 60     69
10  9 p9                    64.09091 57     70
11 10 p10                   63.53315 56     73
12 11 p11                   63.23810 60     68
13 12 p12                   61.11111 56     66
14 13 p13                   61.06818 56     69
15 14 p14                   60.67816 56     68
16 15 p15                   60.05814 53     71
17 16 p16                   59.44706 55     64
18 17 p17                   55.45977 49     61